.alert-container{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.title-description-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.time-container{
    display: flex;
}

.setTimer{
    flex-grow: 1;
   
}
input{
    background-color: #1E1E1E;
    color: #E0E0E0;
    border: 1px solid #333333;
    padding: 8px;
   
}

input:focus {
    border-color: #4F4F4F;
    outline: none;
  }

p{
    color: #E0E0E0;
}

button {
    background-color: #3A3A3A;
    color: #E0E0E0;
    border: 1px solid #333333;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #4F4F4F;
  }
  
  button:active {
    background-color: #333333;
  }

  button.setTimer{
    background-color: #388E3C;

  }

  button.setTimer:hover {
    background-color: #2E7D32; 
  }
  button.deleteElement{
    background-color: #D32F2F;
  }

  button.deleteElement:hover {
    background-color: #B71C1C; /* Slightly darker red for hover */
  }

  button.editElement{
    background-color: #FBC02D;
    color: #1E1E1E; /* Dark gray for text */
  }

  button.editElement:hover {
    background-color: #F9A825; /* Slightly darker red for hover */
  }

  hr {
    border: none; 
    height: 1px; 
    background-color: #E0E0E0; 
    margin: 10px 0; 
}

.alert-text-category{
  color: #97fb9b;

}